.lead {
  max-width: 984px;
  margin: 0 auto;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin: 0 0 64px 0;
  }
}
